<!-- scripts -->
<%- js('js/app.js') %>
<%- js('js/search.js') %>
<%- js('https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js') %>

<%if (config.google_analytics) { %>
<!-- google_analytics start -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= config.google_analytics %>', 'auto');
  ga('send', 'pageview');

</script>
<!-- google_analytics end -->
<% } %>