<% if (page.comments){ %>
<section id="comment">
  <!-- <h1 class="title"><%= __('comment') %></h1> -->
  <% if(config.valine) { %>
    <div id="vcomments"></div>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'kiLePOXMgIy0Ylvhrk3YXpvX-gzGzoHsz',
            appKey: 'r5tU2Mq18R0nCUao7jUzktf0',
            meta: ['nick','mail']
            // avatar:'hide' // (''/mp/identicon/monsterid/wavatar/robohash/retro/hide)
        })
    </script>
    <% } %>
</section>
<% } %>
