<!-- Footer-widgets -->
<div class="footer-widgets">
  <div class="row inside-wrapper">
    <div class="col-1-3">
      <aside>
        <h1 class="widget-title"><%= config.widget ? config.widget.title : theme.widget.title  %></h1>
        <div class="custom-widget-content">
          <% var widget_content = config.widget ? config.widget.content : (config.description || theme.widget.content) %>
          <%- widget_content %>
        </div>
      </aside>
    </div>
    <div class="col-1-3">
      <aside>
        <h1 class="widget-title"><%- __('contact') %></h1>
        <div class="widget-text">
          <% if (config.social) { %>
            <% _.forIn(config.social, function(val, key){ %>
              <a href="<%- val %>" class="icon icon-<%- key %>" target="_blank"><%- key %></a>
            <% }) %>
          <% } else { %>
            <% _.forIn(theme.social, function(val, key){ %>
              <a href="<%- val %>" class="icon icon-<%- key %>" target="_blank"><%- key %></a>
            <% }) %>
          <% } %>
        </div>
      </aside>
    </div>
    <div class="col-1-3">
      <aside>
        <h1 class="widget-title"><%- __('search') %></h1>
        <div class="widget-text">
          <form onSubmit="return appDaily.submitSearch('<%- config.search_engines %>')">
            <p>
              <input type="text" placeholder="search..." id="homeSearchInput">
            </p>
            <!-- <input type="submit" value="GO"> -->
          </form>
        </div>
      </aside>
    </div>
  </div>
</div>
<div id="local-search-result"></div>
<!-- Footer -->
<footer class="site-info">
  <p>
    <span><%- config.author %> &copy; <%= (new Date()).getFullYear() %></span>
    <% if(config.footer !== null) { %>
      <span class="split">|</span>
      <span><%- config.footer || theme.footer %></span>
    <% } %>
  </p>
</footer>
