<% if (page.prev || page.next){ %>
<div class="container" >
  <ul class="pager">
    <% if (page.prev){ %>
      <li class="previous">
        <a href="<%- config.root %><%- page.prev_link %>">
          <%- __('prev')%> <span class="meta-arraw meta-arraw-right"></span>
        </a>
      </li>
    <% } %>
    <% if (page.next){ %>
      <li class="next">
        <a href="<%- config.root %><%- page.next_link %>">
          <span class="meta-arraw meta-arraw-left"> </span><%- __('next')%>
        </a>
      </li>
    <% } %>
  </ul>
</div>
<% } %>
