<div class="content-area">
  <div class="post">
    <!-- Post Content -->
    <div class="container">
      <article>
        <!-- Title date & tags -->
        <div class="post-header">
          <h1 class="entry-title">
            <%- page.title || theme.default_post_title || "Untitled" %>
            <% if (page.subtitle && page.subtitle.length) { %>
              <p><%- page.subtitle %></p>
            <% } %>
          </h1>
          <p class="posted-on">
          <%= page.date.format(config.date_format) %>
          </p>
          <div class="tags-links">
            <% if (page.tags) { %>
              <% page.tags.each(function(tag){ %>
                <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
                  <%- tag.name %>
                </a>
              <% }); %>
            <% } %>
          </div>
        </div>
        <!-- Post Main Content -->
        <div class="entry-content">
          <%- page.content %>
        </div>
      </article>
    </div>
    <!-- Sponsor -->
    <div class="container">
      <iframe src="https://sponsor.frearb.com/" style="overflow-x:hidden;overflow-y:hidden; border:0xp none #fff; min-height:240px; width:100%;"  frameborder="0" scrolling="no"></iframe>
    </div>
    <!-- Comments -->
    <div class="container">
      <%- partial('_partial/comment') %>
    </div>
    <!-- Pre or Next -->
    <!-- page.next is the prev and page.prev is the next-->
    <div class="nav-links">
      <% if (page.prev) { %>
        <div class="nav-previous">
          <a href="<%- config.root %><%- page.prev.path %>" rel="prev"><span class="meta-arraw meta-arraw-left"></span> <%- __('prev')%></a>
        </div>
      <% } %>
      <% if (page.next) { %>
        <div class="nav-next">
          <a href="<%- config.root %><%- page.next.path %>" rel="next"><%- __('next')%> <span class="meta-arraw meta-arraw-right"></span></a>
        </div>
      <% } %>
    </div>

  </div>
</div>
