@import './normalize';
@import './variables';
@import './daily';
@import './nav';
@import './post';
@import './highlight';
@import './archive';
@import './comment';

@import './mobile';

.search-result-list{}
.search-result-title{font-size:110%;font-weight:bold;}
.search-keyword{color:#f00;}
.search-result{}
.search-result-interval {color: blue;border-style:dotted;}